.header {
  margin: 0;
  padding: 40px 50px 50px;
  background-color: $lilac;
  position: relative;
  max-height: 760px;
  display: flex;

  @include tablet {
    max-height: 886px;
  }

  @include mobile {
    padding: 20px;
    max-height: 515px
  }

  @include mobile-tablet {
    flex-direction: column;
  }

  &__title {
    @include fw700;
    margin: 0;
    padding: 0;
    font-size: 30px;
    line-height: 1;
    color: $yellow;
    width: 87px;

    @include mobile {
      margin: 0;
      font-size: 20px;
      line-height: 1.5;
    }
  }
  &__logo {
    position: absolute;
    right: 0;
    top: 0;
    width: 405px;
    height: 405px;
    background: url(../../../images/Bg-C.png) no-repeat center;
    z-index: 0;
    opacity: 1;

    @include mobile-tablet {
      opacity: 0;
    }
  }
  
  &__logo-in-logo {
    position: absolute;
    right: 50px;
    top: 50px;
    width: 169px;
    height: 169px;
    background: url(../../../images/logo.png) no-repeat center;
    background-size: contain;
    
    @include tablet {
      width: 128px;
      height: 128px;
    }

    @include mobile {
      width: 94px;
      height: 94px;
      right: 20px;
      top: 20px;
    }
  }
  &__container-one {
    display: flex;
    flex-direction: column;
  }
  &__container-two {
    margin: 0 0 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include tablet {
      margin: 50px 0 0;
      flex-direction: row;
    }

    @include mobile {
      margin: 50px 0 0;
    }
  }
  &__image {
    position: relative;
    margin: 40px 0 0;
    width: 783px;
    height: 600px;
    background: url(../../../images/jarritos.png) no-repeat center;
    background-size: contain;

    @include tablet {
      margin: 126px 0 0;
      width: 668px;
      height: 514px;
    }

    @include mobile {
      margin: 50px 0 0;
      width: 280px;
      height: 216px;
    }
  }
  &__pineapple {
    position: absolute;
    bottom: -36px;
    right: -52px;
    width: 149px;
    height: 146px;
    background: url(../../../images/ananas.png) no-repeat center;
    background-size: cover;

    @include tablet {
      right: 20px;
      bottom: 20px;
    }

    @include mobile {
      width: 96px;
      height: 93px;
      right: 5px;
      bottom: -34px;
    }
  }
  &__subtitle {
    @include fw600;
    width: 457px;
    margin: 348px 0 0;
    color: #fff;
    font-size: 40px;
    line-height: 1.2;
    z-index: 1;

    @include tablet {
      font-size: 30px;
      margin: 0;
    }

    @include mobile {
      width: 280px;
      margin: 0 0 30px 0;
      font-size: 20px;
    }
  }
  &__button {
    width: 163px;
    min-height: 55px;
    box-sizing: border-box;

    @include mobile {
      font-size: 16px;
      line-height: 1.9;
      width: 152px;
    }
  }
}
