.natural {
  width: 100%;
  display: flex;
  margin: 0;
  padding: 20px 180px 0 154px;

  @include tablet {
    margin: 0;
    padding: 0;
    flex-direction: column;
  }

  @include mobile {
    margin: 0;
    padding: 0;
    flex-direction: column;
  }

  &__title {
    @include fw500;
    color: $blue;
    font-size: 60px;
    line-height: 1.11;
    width: 460px;
    align-self: center;
    margin: 0;
    padding: 0;

    @include tablet {
      text-align: center;
      margin: 120px 0 120px;
    }

    @include mobile {
      margin: 50px 0;
      font-size: 20px;
      width: 280px;
      text-align: center;
    }
  }

  &__image {
    position: relative;
    width: 430px;
    height: 510px;
    background: url(../../../images/jaritos-mango.png) no-repeat;
    z-index: 1;
    margin: 0 0 0 216px;
    
    @include tablet {
      margin: 0 auto;
    }

    @include mobile {
      width: 280px;
      height: 339px;
      margin: 0 auto;
      background-size: cover;
    }
  }

  &__mango {
    position: absolute;
    top: 51px;
    left: -105px;
    width: 172px;
    height: 172px;
    background: url(../../../images/mango.png) no-repeat center;
    background-size: cover;
    overflow: hidden;
    z-index: 0;

    @include mobile {
      width: 126px;
      height: 126px;
      left: -6px;
      top: 176px;
      box-sizing: border-box;
    }
  }
}