.samples {
  background-color: $lime;
  width: 100%;
  display: flex;
  margin: 0;
  padding: 60px 50px 60px 150px;
  box-sizing: border-box;
  justify-content: space-between;

  @include tablet {
    margin: 0 auto;
    width: 668px;
    flex-direction: column;
    padding: 60px 34px 34px;
  }

  @include mobile {
    width: 280px;
    flex-direction: column;
    margin: 0 20px;
    padding: 20px 10px 10px;
  }

  &__textual {
    align-self: center;

    @include mobile-tablet {
      align-self: flex-start
    }

    @include mobile {
      align-self: flex-start;
      margin: 0 auto;
    }
  }

  &__title {
    @include fw500;
    font-size: 60px;
    line-height: 1.08;
    color: $blue;
    margin: 0 0 48px;
    width: 244px;

    @include tablet {
      margin: 0 0 48px 26px;
    }

    @include mobile {
      font-size: 20px;
      margin: 0 0 20px 0;
    }
  }

  &__text {
    @include fw400;
    font-size: 20px;
    line-height: 1.45;
    color: $blue;
    margin: 0;
    width: 457px;

    @include tablet {
      margin: 0 0 100px 26px;
    }

    @include mobile {
      width: 240px;
      font-size: 14px;
      line-height: 1.35;
      margin: 0 0 50px 0;
    }
  }
}