$lilac: #9960F6;
$pink: #A27BFF;
$fiolet: #7A54F9;
$purple: #8556F8;
$lime: #CEF564;
$yellow: #FFDB00;
$green: #016450;
$blue: #1E3264;


$fontFamily: "Inter", Helvetica, sans-serif;

$desktop-width: 1440px;
$tablet-width: 768px;
$mobile-width: 320px;
