.header {
  margin: 0;
  padding: 0;
  background-color: #9960F6;
  position: relative;
  overflow: hidden;
  min-height: 760px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header__title {
  font-style: normal;
  font-weight: 700;
  margin: 0;
  padding: 40px 0 0 50px;
  font-size: 30px;
  line-height: 1;
  color: #FFDB00;
}

.header__logo {
  position: absolute;
  right: 0;
  top: 0;
  width: 405px;
  height: 405px;
  background: url(../../../images/Bg-C.png) no-repeat center;
  z-index: 0;
}

.header__logo-in-logo {
  position: absolute;
  right: 50px;
  top: 50px;
  width: 169px;
  height: 169px;
  background: url(../../../images/logo.png) no-repeat center;
}

.header__container-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__container-two {
  margin: 0 0 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__image {
  position: relative;
  margin: 40px 0 0 50px;
  width: 783px;
  height: 600px;
  background: url(../../../images/jarritos.png) no-repeat center;
}

.header__pineapple {
  position: absolute;
  bottom: -36px;
  right: -52px;
  width: 129px;
  height: 124px;
  background: url(../../../images/ananas.png) no-repeat center;
  background-size: contain;
}

.header__subtitle {
  width: 457px;
  margin: 388px 0 171px 0;
  font-style: normal;
  font-weight: 600;
  color: #fff;
  font-size: 40px;
  line-height: 1.2;
  z-index: 1;
}

.body {
  width: 1440px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  margin: 0 auto;
  padding: 0;
}

.fresh {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #CEF564;
}

.fresh__text {
  margin: 0;
  padding: 20px 0;
  font-style: normal;
  font-weight: 700;
  color: #016450;
  font-size: 30px;
  line-height: 1.2;
  text-overflow: clip;
  white-space: pre;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
}

.how-its-made__title {
  font-style: normal;
  font-weight: 500;
  margin: 120px 0;
  padding: 0;
  font-size: 60px;
  line-height: 1;
  color: #1E3264;
  text-align: center;
}

.content {
  width: 1340px;
  margin: 0 auto;
}

.content__taste {
  background-color: #9960F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content__components {
  background-color: #8556F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content__title {
  margin: 0;
  padding: 90px 0 0 100px;
  font-size: 52px;
  line-height: 0.92;
  color: #fff;
}

.content__text {
  font-style: normal;
  font-weight: 500;
  margin: 30px 0 0 100px;
  padding: 0;
  color: #fff;
  max-width: 386px;
  font-size: 18px;
  line-height: 1.72;
}

.content__image {
  margin: 90px 100px 90px 0;
  width: 518px;
  height: 345px;
  background: url(../../../images/strawberry.png) no-repeat center transparent;
}

.content__button {
  margin: 205px 0 90px 100px;
}

.content__bubbles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 123px 126px 121px 136px;
}

.content__bubble-one {
  width: 185px;
  height: 185px;
  background: url(../../../images/green-bubble.png) no-repeat center transparent;
  margin: 0 0 13px 0;
}

.content__bubble-two {
  margin: 0 0 0 108px;
  width: 138px;
  height: 138px;
  background: url(../../../images/yellow-bubble.png) no-repeat center;
}

.content__ingridients {
  margin: 90px 100px 60px 0;
  width: 255px;
}

.content__ingridient {
  font-style: normal;
  font-weight: 700;
  margin: 0 0 30px 0;
  padding: 0;
  font-size: 32px;
  line-height: 1.56;
  color: #fff;
  border-bottom: solid 0.5px rgba(255, 255, 255, 0.5);
}

.button {
  font-style: normal;
  font-weight: 500;
  background-color: #FFDB00;
  width: 163px;
  height: 55px;
  font-size: 18px;
  line-height: 1.7;
  border: none;
  color: #1E3264;
  -webkit-transition: all ease 0.05s;
  transition: all ease 0.05s;
}

.button:hover {
  border: 2px solid #1e3264;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;
}
